body{background:#353d50;color:#515253;font-family:'Source Sans Pro',sans-serif;font-size:1em;margin:0;padding:0}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}a{text-decoration:none}#single{width:850px;margin:0
auto}.links{width:100%;float:left;padding:15px;background:#FFF;box-shadow:0 10px 10px -7px rgba(118, 132, 156, 0.49);margin-top:50px}.links
.aa{float:left;width:300px;margin-right:20px}.links .aa
.ads_300{width:100%;float:left;margin-bottom:15px;text-align:center}.links .aa .ads_300:last-child{margin-bottom:0}.links
.bb{float:left;width:500px}.links .bb
.ads_468{width:100%;float:left;text-align:center;padding-bottom:10px;margin-bottom:10px;border-bottom:solid 1px #ECEFF5}.cupe{width:100%;float:left;background:#444c63;padding:10px;margin-bottom:25px;border-top:solid 1px #000}.cupe
span{float:left;color:rgba(255, 255, 255, 0.6);font-size:14px;padding:12px
0}.cupe
.conteo{float:left;background:rgba(0, 0, 0, 0.22);color:#FFF;padding:5px
10px;font-size:25px;text-align:center;border-radius:3px;margin-right:10px}.cupe
.views{padding:2.5px 10px}.cupe .conteo
b{float:left;width:100%;margin:0;font-size:16px}.cupe .conteo
i{float:left;width:100%;font-size:13px;padding:0;margin:0;font-style:normal;color:rgba(255, 255, 255, 0.35)}.cupe
.boton{float:right}.cupe .boton
a{float:left;font-size:16px;font-weight:600;padding:10px
0;color:#fff;text-shadow:0 -1px 0 rgba(0, 0, 0, .3);width:160px;text-align:center;border-radius:3px;border:1px
solid rgba(0, 0, 0, 0.5);background-color:transparent;background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5)));background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));background-image:-moz-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));background-image:-ms-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));background-image:-o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5))}.links .bb
h1{float:left;width:100%;padding:0;padding-bottom:10px;margin:0;font-size:20px;font-weight:600;color:#222D34;border-bottom:solid 1px #ECEFF5;margin-bottom:10px}.custom_fields{width:100%;padding:0;float:left;padding-bottom:12px;margin-bottom:12px;border-bottom:solid 1px #ECEFF5}.custom_fields:last-child{border-bottom:0;margin-bottom:0;padding-bottom:0}.custom_fields
b.variante{min-width:130px;float:left;color:#3E4852;font-size:15px;font-weight:600}.custom_fields
span.valor{font-size:15px;float:left}.custom_fields span.valor
img{float:left;margin-right:10px;margin-top:2px}footer{font-size:13px;width:100%;float:left;text-align:center;margin-bottom:25px;color:rgba(255,255,255,0.48)}.ads_demo{width:100%;border:solid 1px #e9ebef;background:#f5f7fa;font-size:20px;font-style:italic}