.mCustomScrollbar {
    -ms-touch-action:pinch-zoom;
    touch-action:pinch-zoom
}
.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action {
    -ms-touch-action:auto;
    touch-action:auto
}
.mCustomScrollBox {
    position:relative;
    overflow:hidden;
    height:100%;
    max-width:100%;
    outline:none;
    direction:ltr
}
.mCSB_container {
    overflow:hidden;
    width:auto;
    height:auto
}
.mCSB_inside>.mCSB_container {
    margin-right:30px
}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-right:0
}
.mCS-dir-rtl>.mCSB_inside>.mCSB_container {
    margin-right:0;
    margin-left:30px
}
.mCS-dir-rtl>.mCSB_inside>.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-left:0
}
.mCSB_scrollTools {
    position:absolute;
    width:16px;
    height:auto;
    left:auto;
    top:0;
    right:0;
    bottom:0
}
.mCSB_outside+.mCSB_scrollTools {
    right:-26px
}
.mCS-dir-rtl>.mCSB_inside>.mCSB_scrollTools, .mCS-dir-rtl>.mCSB_outside+.mCSB_scrollTools {
    right:auto;
    left:0
}
.mCS-dir-rtl>.mCSB_outside+.mCSB_scrollTools {
    left:-26px
}
.mCSB_scrollTools .mCSB_draggerContainer {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:auto
}
.mCSB_scrollTools a+.mCSB_draggerContainer {
    margin:20px 0
}
.mCSB_scrollTools .mCSB_draggerRail {
    width:2px;
    height:100%;
    margin:0 auto;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    border-radius:16px
}
.mCSB_scrollTools .mCSB_dragger {
    cursor:pointer;
    width:100%;
    height:30px;
    z-index:1
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    position:relative;
    width:4px;
    height:100%;
    margin:0 auto;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    border-radius:16px;
    text-align:center
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
    width:12px
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
    width:8px
}
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown {
    display:block;
    position:absolute;
    height:20px;
    width:100%;
    overflow:hidden;
    margin:0 auto;
    cursor:pointer
}
.mCSB_scrollTools .mCSB_buttonDown {
    bottom:0
}
.mCSB_scrollTools, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {
    -webkit-transition:opacity .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition:opacity .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition:opacity .2s ease-in-out, background-color .2s ease-in-out;
    transition:opacity .2s ease-in-out, background-color .2s ease-in-out
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, .mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail {
    -webkit-transition:width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
    -moz-transition:width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
    -o-transition:width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
    transition:width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out
}
.mCSB_scrollTools {
    opacity:0.75;
    filter:"alpha(opacity=75)";
    -ms-filter:"alpha(opacity=75)"
}
.mCS-autoHide>.mCustomScrollBox>.mCSB_scrollTools, .mCS-autoHide>.mCustomScrollBox~.mCSB_scrollTools {
    opacity:0;
    filter:"alpha(opacity=0)";
    -ms-filter:"alpha(opacity=0)"
}
.mCustomScrollbar>.mCustomScrollBox>.mCSB_scrollTools.mCSB_scrollTools_onDrag, .mCustomScrollbar>.mCustomScrollBox~.mCSB_scrollTools.mCSB_scrollTools_onDrag, .mCustomScrollBox:hover>.mCSB_scrollTools, .mCustomScrollBox:hover~.mCSB_scrollTools, .mCS-autoHide:hover>.mCustomScrollBox>.mCSB_scrollTools, .mCS-autoHide:hover>.mCustomScrollBox~.mCSB_scrollTools {
    opacity:1;
    filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)"
}
.mCSB_scrollTools .mCSB_draggerRail {
    background-color:#000;
    background-color:rgba(0, 0, 0, 0.4);
    filter:"alpha(opacity=40)";
    -ms-filter:"alpha(opacity=40)"
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color:#fff;
    background-color:rgba(255, 255, 255, 0.75);
    filter:"alpha(opacity=75)";
    -ms-filter:"alpha(opacity=75)"
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color:#fff;
    background-color:rgba(255, 255, 255, 0.85);
    filter:"alpha(opacity=85)";
    -ms-filter:"alpha(opacity=85)"
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color:#fff;
    background-color:rgba(255, 255, 255, 0.9);
    filter:"alpha(opacity=90)";
    -ms-filter:"alpha(opacity=90)"
}
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {
    background-image:url(mCSB_buttons.png);
    background-repeat:no-repeat;
    opacity:0.4;
    filter:"alpha(opacity=40)";
    -ms-filter:"alpha(opacity=40)"
}
.mCSB_scrollTools .mCSB_buttonUp {
    background-position:0 0
}
.mCSB_scrollTools .mCSB_buttonDown {
    background-position:0 -20px
}
.mCSB_scrollTools .mCSB_buttonLeft {
    background-position:0 -40px
}
.mCSB_scrollTools .mCSB_buttonRight {
    background-position:0 -56px
}
.mCSB_scrollTools .mCSB_buttonUp:hover, .mCSB_scrollTools .mCSB_buttonDown:hover, .mCSB_scrollTools .mCSB_buttonLeft:hover, .mCSB_scrollTools .mCSB_buttonRight:hover {
    opacity:0.75;
    filter:"alpha(opacity=75)";
    -ms-filter:"alpha(opacity=75)"
}
.mCSB_scrollTools .mCSB_buttonUp:active, .mCSB_scrollTools .mCSB_buttonDown:active, .mCSB_scrollTools .mCSB_buttonLeft:active, .mCSB_scrollTools .mCSB_buttonRight:active {
    opacity:0.9;
    filter:"alpha(opacity=90)";
    -ms-filter:"alpha(opacity=90)"
}
.mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
    right:0;
    margin:12px 0;
    margin-right:-18px
}
.mCustomScrollBox.mCS-minimal+.mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal-dark+.mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal-dark+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
    bottom:0;
    margin:0 12px
}
.mCS-dir-rtl>.mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical, .mCS-dir-rtl>.mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
    left:0;
    right:auto
}
.mCS-minimal.mCSB_scrollTools .mCSB_draggerRail, .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color:transparent
}
.mCS-minimal.mCSB_scrollTools_vertical .mCSB_dragger, .mCS-minimal-dark.mCSB_scrollTools_vertical .mCSB_dragger {
    height:50px
}
.mCS-minimal.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-minimal-dark.mCSB_scrollTools_horizontal .mCSB_dragger {
    width:50px
}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color:#fff;
    background-color:rgba(255, 255, 255, 0.2);
    filter:"alpha(opacity=20)";
    -ms-filter:"alpha(opacity=20)"
}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color:#fff;
    background-color:rgba(255, 255, 255, 0.5);
    filter:"alpha(opacity=50)";
    -ms-filter:"alpha(opacity=50)"
}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color:#000;
    background-color:rgba(0, 0, 0, 0.2);
    filter:"alpha(opacity=20)";
    -ms-filter:"alpha(opacity=20)"
}
