a{color:#00CAF0}body{background:#fff;color:#515253}#dt_contenedor{background:#353d50}header.main{border-color:rgba(0,0,0,0.15);background:#2b3142;box-shadow:none}header.subhead{background:#4C5765;color:#fff}header.main .hbox
.logo{border-color:#444c63}header.main .hbox .search
form{background:#353d50;border-color:#ECEFF5}header.main .hbox .search form input[type="text"]{color:#fff;background:transparent}header.main .hbox .search form input[type="text"]:hover, header.main .hbox .search form input[type="text"]:focus{border:0}header.main .hbox .search form button[type="submit"]{background:transparent;color:rgba(255, 255, 255, 0.7)}header.main .hbox .search form button[type="submit"]:hover{color:#fff}header.main .hbox .search:hover>form{border-color:#C5CAD2;background:#353d50}.module{background:#fff;box-shadow:0 10px 10px -7px rgba(0, 0, 0, 0.3);border-color:#ECEFF5}.module
.sidebar{background:#444c63;border-right:solid 1px #2b3142}.module
.content{background:#fff;border-left:solid 1px #2b3142}.module .content
.items{border-color:#ECEFF5}.module .content header h1, .module .content header
h2{color:#222D34}.module .content header
span{color:#A2B2CC}.module .content .items .item .data
span{color:#BFCADA}.module .content .items .item .data
h3{color:#222D34}.module .content .items .item .data h3
a{color:#222D34}.module .content .items .item .data h3 a:hover{color:#00CAF0}.module .content .items .item
.dtinfo{background:#fff;border-color:#ECEFF5}.sidemenu ul.genres li, .sidemenu
h2{border-color:#353d50}.sidemenu
h2{color:#bac0d0}.sidemenu ul.genres li
a{color:rgba(255, 255, 255, 0.5)}.sidemenu ul.genres li.current-cat
a{font-weight:600;color:#fff}.sidemenu ul.genres li.current-cat a:before{color:#00CAF0}.sidemenu ul.genres li.current-cat a:hover{color:#00CAF0}.sidemenu ul.genres li a:hover{color:#fff}.sidemenu ul.genres li a:before{color:#ECEFF5;font-weight:300}.sidemenu ul.genres li
i{color:#C1C1C1}.sidemenu ul.genres li:hover>a:before{color:#00CAF0}footer.main{background:#fff;border-color:#2b3142;color:#AFB8C7}footer.main .fbox .fmenu ul li
a{color:#7488A7}footer.main .fbox .fmenu ul li a:hover{color:#00CAF0}footer.main .fbox .fmenu ul li, footer.main .fbox .fmenu ul li:last-child{border-color:#ECEFF5}.module .content .items .item .poster .rating
span{color:#00caf0}.module .content .items .item .poster
.rating{background:rgba(0, 0, 0, 0.8);color:rgba(255, 255, 255, 0.9)}.pagination
span{border-color:#D9DDE6;color:#222D34}.pagination
span.current{border-color:#D9DDE6;background:#FFF;color:#00CAF0;font-weight:600}.pagination
a{border-color:#D9DDE6;color:#222D34;background:#F5F7FA}.pagination a:hover{background:#fff}.dtinfo
.title{border-color:#ECEFF5;color:#222D34}.dtinfo .title
i{color:#222D34}.dtinfo
.texto{border-color:#ECEFF5}.dtinfo .texto
.degradado{background-color:transparent;background-image:-moz-linear-gradient(rgba(0, 0, 0, 0), #fff);background-image:-webkit-linear-gradient(rgba(0, 0, 0, 0), #fff);background-image:linear-gradient(rgba(0, 0, 0, 0), #fff);background-repeat:repeat-x}.dtinfo .rating .datareviews .datarating span.rating-stars-a{color:#ECEFF5}.dtinfo .rating .datareviews .datarating span.rating-stars-b{color:#00caf0}.dtinfo .rating .datareviews span.rating-value{color:#7488A7}.dtinfo .rating
.rating_right{background:#F5F7FA;color:#8F95A0}.sidemenu ul.year li
a{background:rgba(0, 0, 0, 0.25);color:rgba(255, 255, 255, 0.5)}.sidemenu ul.year li a:hover{background:#000;color:#fff}#serie_contenido{background:#fff}#seasons .se-c .se-q{background:#F8F9FB}#seasons .se-c .se-q
span.title{color:#222D34}#seasons .se-c .se-q span.se-t{background:#DADDE4;color:#47607B}#seasons .se-c .se-q span.se-o{background:#353d50;color:#fff}#seasons .se-c .se-a ul.episodios li, #seasons .se-c .se-a ul.episodios li
.numerando{border-color:#F5F7FA}#seasons .se-c .se-a ul.episodios li .episodiotitle
a{color:#47607B}#seasons .se-c .se-a ul.episodios li .episodiotitle a:hover{color:#408bea}#seasons .se-c .se-a ul.episodios li .episodiotitle
span.date{color:#9CAEC1}#seasons .se-c .se-a ul.episodios li .episodiotitle a
i{color:#FF7A7A;margin-right:5px}.form_post_data
#msg{color:#47607B}.form_post_data form.generador_form input[type="submit"]:hover{background:#222D34;color:#fff}.form_post_data form.generador_form input[type="submit"]{background:#F5F7FA;color:#7488A7}.form_post_data form.generador_form input[type="text"]{background:transparent;color:#47607B}.form_post_data
form.generador_form{border-color:#ddd}.form_post_data form.generador_form ::-webkit-input-placeholder{color:#DADDE4}.form_post_data #msg
i{color:#00CAF0}.link_sharing p input[type="submit"]{background:#00CAF0;color:rgba(255, 255, 255, 0.7)}.link_sharing p input[type="submit"]:hover{background:#01B1D2;color:#fff}.link_sharing p input[type="text"], .link_sharing p input[type=url]{border-color:#D6DAE2;background:transparent;color:#687990}.link_sharing p
select{border-color:#D6DAE2;color:#687990}.links_table table thead
tr{border-bottom:solid 3px #F5F7FA}.links_table table tbody
tr{border-bottom:solid 1px #F5F7FA}.links_table table tbody tr:hover>td{background:#FDFDFD}label.metrox{background:#F5F7FA;color:rgba(0,0,0,0.69)}label.metrox:hover{background:#d7dbe4}label.checked{background:#24303B !important;color:#FFF !important}.links_table
a.addlink{background:#8BCE51;color:#fff}#single{background:#fff}#single
.content{background:#fff;border-right:solid 1px #2b3142}.sbox h2, .sbox
h1{color:#24303B;border-color:#ECEFF5}a.a_f_sbox{color:#24282D}.se .poster
.season_m{background:rgba(0, 0, 0, 0.7)}.se .poster .season_m
span{color:#fff}.slider article.item .image
.data{background-image:-moz-linear-gradient(rgba(0, 0, 0, 0), #000);background-image:-webkit-linear-gradient(rgba(0, 0, 0, 0), #000);background-image:linear-gradient(rgba(0, 0, 0, 0), #000)}.slider article.item .image .data
span{color:#fff}span.quality{color:#fff;background:#DA1919}.sidebar aside.widget h2.widget-title{color:#bac0d0}.sidebar aside.widget ul li
a{color:#72818E}.sidebar aside.widget ul li:before{color:#20272D}.sidebar aside.widget ul li a:hover{color:#009FFF}.calendar_wrap table
caption{background:rgba(0, 0, 0, 0.05);color:#fff}.calendar_wrap table
thead{background:rgba(0, 0, 0, 0.2)}.calendar_wrap table thead tr
th{color:#009FFF;padding:10px}.calendar_wrap table tbody
tr{border-color:rgba(0, 0, 0, 0.05)}.calendar_wrap table tbody tr
td{color:#82909C}form.search-form{background:#fff;border-color:rgba(0, 0, 0, 0.15)}form.search-form button[type="submit"] span{color:#8C9CAB}form.search-form button[type="submit"] span:hover{color:#009FFF}.tagcloud
a{background-color:rgba(0, 0, 0, 0.05);color:rgba(255, 255, 255, 0.52)}.widget_rss
.rssSummary{color:rgba(0, 0, 0, 0.44)}.widget_rss
cite{color:#8ABEDE}span.comment-author-link{color:#70a7ec}.w_item_a .image
.data{background-image:-moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));background-image:-webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));color:#fff}.w_item_a .image .data h3
a{color:#fff}.w_item_a .image .data
span.wdate{color:rgba(255,255,255,0.7)}.w_item_b{background:rgba(0,0,0,0.15)}.w_item_b:hover{background:rgba(0, 0, 0, 0.25)}.w_item_b .data
h3{color:rgba(255, 255, 255, 0.7)}.w_item_b a:hover > .data
h3{color:#fff}.w_item_b .data
span.wdate{color:#fff}.w_item_b .data span.wextra
b{color:#737A88}.w_item_b .data span.wextra b
i{color:#00caf0}.w_item_b a:hover > .data span.wextra b
i{color:#00CAF0}.w_item_c{border-color:rgba(0, 0, 0, 0.1)}.w_item_c
.rating{background:rgba(0, 0, 0, 0.25);color:#fff}.w_item_c .data
h3{color:rgba(255, 255, 255, 0.5)}.w_item_c a:hover > .data
h3{color:#fff}.w_item_c .data
span{color:#A2AEB9}.w_item_c .rating
i{color:#ADBACC}.w_item_c a:hover > .rating
i{color:#00CAF0}article.w_item_c:after{color:rgba(0,0,0,0.07)}i.delete{background:#DC2626}i.delete
span{color:#fff}.nav_items_module
a.btn{color:#7488A7}.nav_items_module a.btn:hover{color:#408BEA}.slider article.item .image .data
h3.title{color:#fff}a.facebook-background{background:#4861A3}a.twitter-background{background:#1BB2E9}a.google-plus-background{background:#CE4231}a.linkedin-background{background:#1A91C9}a.youtube-background{background:#BC1E2C}a.rss-background{background:#F7A92C}a.flickr-background{background:#F957A8}a.vimeo-background{background:#1BB6EC}a.pinterest-background{background:#CD2026}a.dribbble-background{background:#E14A85}a.tumblr-background{background:#2b3142}a.instagram-background{background:#125688}a.vine-background{background:#00BF8E}a.vk-background{background:#6383a8}.resppages
a{background:#61728e;color:#fff}@media only screen and (max-width: 768px){.module
.sidebar{background:#444c63}ul.main_links li
a.active{background:rgba(72,82,99,0.02)}}a.main{background:#408BEA;color:#fff}footer.main .fbox .fmenu ul li.current-menu-item
a{color:#00CAF0}#seasons .se-c .se-q span.title
i{color:#A7ACB9}.link_sharing{background:#FFF;-moz-box-shadow:0 1px 40px -4px rgba(0, 0, 0, 0.7);-webkit-box-shadow:0 40px 8px -4px rgba(0, 0, 0, 0.7);box-shadow:0 1px 40px -4px rgba(0, 0, 0, 0.7)}.link_sharing p.select
b{color:#24303B}.link_sharing p
label{color:#3A4A5F}.links_table{background:#fff}#single .content
.sbox{border-color:#F5F7FA}#single
.sidebar{border-color:#fff;background:#444c63;margin-left:0}.sheader{background:#fff}.sheader
.poster{background:#fff}.sheader .data
h1{color:#222D34}.sheader .data h1
a{}.tagcloud
a{box-shadow:inset 0 -1px 0 rgba(0, 0, 0, 0.12)}.widget-social ul.social-links li.dtl
a.icls{color:#fff}header.responsive{background:#353d50;border-color:#313848}header.responsive
a{color:#9FA9B3}header.responsive
.nav{border-color:#444c63}header.responsive
.search{border-color:#444c63}header.responsive .nav a.active:before, header.responsive .search a.active:before{content:"\e5cd";color:#00CAF0}form.form-resp-ab{background:#313848;border-color:#313848}form.form-resp-ab input[type="text"]{color:#bac0d0}form.form-resp-ab button[type="submit"] span{font-size:24px;color:rgba(255, 255, 255, 0.4)}form.form-resp-ab button[type="submit"]:hover>span{color:#fff}.load_modules{color:#7488A7}.owl-theme .owl-controls .owl-page
span{background:#222D34}.alert_dt_ee{background:#F8F9FB}.video-wrapper{background:#000}.sheader .poster
.complex{background:#8A8E96;color:#FFF}.sheader .poster .complex:hover{background:#F73535}.single_tabs{background:#ECEFF5}ul.smenu{background:#ECEFF5}ul.smenu li.icon
i{font-size:19px;color:#222d34}ul.smenu li
a{color:#95A8B7;text-shadow:0 1px #fff}ul.smenu li a:hover{color:#222D34}ul.smenu li
a.selected{color:#222D34;background:#fff}a.dactive:before{content:"\e5cd";color:#fff}.dt_mega_menu{background:#353d50;border-color:#2b3142}.dt_mega_menu .box ul
li{border-left:solid 1px #3F515D;border-right:solid 1px #000}.dt_mega_menu .box ul li.current-menu-item
a{color:#222D34;font-weight:600}.dt_mega_menu .box ul li
a{color:#fff}.dt_mega_menu .box ul li a:hover{color:#00CAF0}.link_sharing p
a.addlink{color:#24303B}.link_sharing
h3{border-bottom:solid 1px #E2E6EC;color:#24303B}.fondo_dt{background:rgba(0, 0, 0, 0.8)}.extra
span{color:#A1AEB9}.extra
span.tagline{color:#24303B}.extra
span.date{font-weight:600;color:#24303B}.srating{border-top:solid 1px #ECEFF5;border-bottom:solid 1px #ECEFF5}.srating
.promedio{background:#F5F7FA;color:#24303B}.srating .rdata .stars span.rating-stars-a{color:#ECEFF5}.srating .rdata .stars span.rating-stars-b{color:#FFE203}.srating .rdata
.votes{color:#9297A2}.sgeneros
a{color:#80909E;border-left:solid 1px #ECEFF5}.sgeneros a:hover{color:#00CAF0}.custom_fields{border-bottom:solid 1px #ECEFF5}.custom_fields
b.variante{color:#3E4852}.custom_fields span.valor
strong{border:solid 1px #ECEFF5;color:#222D34}.custom_fields span.valor strong:before{color:#D9DBDE}.wp-content{border-bottom:solid 1px #ECEFF5}.comments-area
h2{color:#24303B}.comments-area h2
i{color:#47D26C}.post-comments
li.comment{border-top:1px solid #ECEFF5}.post-comments li.comment
.scontent{border-left:1px solid #ECEFF5}.post-comments li.comment .scontent .comment-header{color:#222D34}.post-comments li.comment .scontent
p{color:#808A90}.post-comments li.comment .scontent p
code{color:#97ADD0}.post-comments ul
li.comment{border-top:1px solid #eee}em.text-red{color:#FF8181}.post-comments .comment-time{background:#F5F7FA;color:#2D3943}.post-comments .comment-reply-link{color:#24303B;background:#f5f7fa}.post-comments .comment-reply-link:hover{color:#fff;background:#00CAF0}.comment-respond
h3{color:#24303B}.comment-respond h3:before{color:#00CAF0}.comment-form-comment .form-label{color:#24303B}.comment-form-comment
textarea{border:solid 1px #E0E5EF}.grid-container .form-label{color:#24303B}.grid-container .form-description{color:#9d9fb1}.grid-container input[type="text"]{border:solid 1px #E0E5EF}a.commautor{color:#222D34}a.commautor:hover{color:#408BEA}p.form-submit input[type="submit"]{border:solid 1px #353d50;background:#444c63;color:rgba(255, 255, 255, 0.8)}p.form-submit input[type="submit"]:hover{background:#00CAF0;border-color:#00AED8;color:#fff}.comment-respond textarea, .comment-respond input[type="text"], .comment-respond input[type="submit"]{background:#FDFDFD;color:#8FA0AF}.comment-respond textarea:focus, .comment-respond input[type="text"]:focus{background:#fff;color:#24303B;border-color:#B8C0D2;-moz-box-shadow:0 1px 8px -4px rgba(0, 0, 0, 0.7);-webkit-box-shadow:0 1px 8px -4px rgba(0, 0, 0, 0.7);box-shadow:0 1px 8px -4px rgba(0,0,0,0.7)}div.no-comments{background:#FFFCEE;color:#8E8559}.starstruck .star-on-png:before{content:"\e838";color:#00caf0}.starstruck .star-off-png:before{content:"\e838";color:#ECEFF5}.starstruck-rating-wrap{color:#586C7D;background-color:#F5F7FA}.starstruck-rating{color:#9297A2}.starstruck-rating
i{color:#CED3DC}.starstruck-wrap{border-bottom:solid 1px #ECEFF5;border-top:solid 1px #ECEFF5}.starstruck-wrap
.dt_rating_vgs{background:#F5F7FA;color:#24303B}.dt_nodata{background:#F5F7FA;color:#24303B}#single .content
.srelacionados{background:#fff}.dtloadpage{background:rgba(0, 0, 0, 0.9)}.dtloadpage .dtloadbox
span{color:#FFF}.dtloadpage .dtloadbox
p{color:#A7A7A7}.se_rating{background:#FFF;border:solid 1px #222D34}.se_rating
.se_rating_valor{background:#00CAF0}.se_rating:before{color:#222D34}.dt_social_single
a{color:#fff}.dt_social_single
a.facebook{background:#4861A3;float:left}.dt_social_single
a.twitter{background:#1BB2E9;float:right}.captcha{border:solid 1px #D6DAE2}.captcha
a{color:#878FA0;background:#F5F7FA}.captcha a:hover{color:#FFF;background:#A2ABBB}.captcha a:active{background:#24303B}.captcha input[type="text"]{color:#A7B2C7;border-left:solid 3px #CACDD4}.link_sharing p
small{font-size:13px;color:#C4CAD6}.link_sharing p
strong{color:#24303B}.captcha input:required:valid{color:#24303B}.sl-wrapper
a{background:#FFF;color:#222D34}.sl-wrapper a:before{color:#00CAF0}.sl-wrapper:hover>a:before{color:#EC3F68}.sl-wrapper a.liked:before{color:#00CAF0}.sl-wrapper:hover>a.liked{background:#EC3F68}.sl-wrapper:hover>a.liked:before{color:#fff}.sl-wrapper a.liked
b{background:rgba(0,0,0,0.1)}a.liked{color:#FFF;background:#353d50}a.liked:hover,a.liked:active,a.liked:focus{color:#FFF}a.liked span.sl-count,.sl-count{color:#FFF}span.sl-wrapper{color:#fff}.dt_user{background:#000;border-right:solid 1px rgba(255, 255, 255, 0.2)}.dt_user
.dt_user_data{color:#00caf0}.dt_user:hover>.dt_user_data{color:#222D34}ul.dt_sm{float:left;background:#000}ul.dt_sm li
a{color:#fff}.account_page
.sidebar{background:#fff}.account_page .sidebar
h2{background:#CACFD8;color:#1A262C}.account_page .sidebar
.about{background:#fff}.account_page .content
.box{background:#fff}.account_page .content
h1{color:#222D34}.account_page .content
ul.nav{border-bottom:solid 1px #E7EBF1}.account_page .content ul.nav li
a{color:#222D34}.account_page .content ul.nav li
a.active{background:#fff;border-top:solid 1px #00CAF0;border-left:solid 1px #E7EBF1;border-right:solid 1px #E7EBF1}.account_page .content .container
h2{border-bottom:solid 1px #E7EBF1;color:#222D34}.no_fav{background:#FDFDFD;color:#222D34}.mejs-container .mejs-controls{background:#000!important}a.reset{background:#F16464;color:#fff!important;padding:0
10px}a.reset:hover{background:#F00}.wp-content
blockquote{border-left:2px solid #CDD0D4;background:#FDFDFD}.wp-content h1, .wp-content h2, .wp-content h3, .wp-content h4, .wp-content h5, .wp-content
h6{color:#222D34}.module .content .items .episodes .poster
span.serie{background:#000;color:#fff}ul.main_links li
a{color:rgba(255, 255, 255, 0.5)}ul.main_links li
a.active{font-weight:600;color:#fff;background:rgba(0, 0, 0, 0.25)}ul.main_links li a:hover{color:#fff}ul.main_links li a.active:hover{color:rgba(255, 255, 255, 0.9)}ul.main_links li a
i{color:#fff}ul.main_links li a.active
i{color:#00caf0}ul.main_links li a:hover>i{color:#00caf0}span.item_type{background:#E91E63;color:#fff}span.s_trending
a.m_trending{color:#BFC3CC}span.s_trending a.m_trending:hover, span.s_trending
a.active{color:#222D34}.contact{background:#fff}.contact
.wrapper{border-bottom:solid 1px #F5F7FA}.contact .wrapper
h1{color:#222D34}.contact .wrapper fieldset
label{color:#222D34}.contact .wrapper fieldset input[type="text"]{border:solid 1px #B0BDC5;color:#67696B}.contact .wrapper fieldset input[type="text"]:focus, .contact .wrapper fieldset textarea:focus{border:solid 1px #408bea}.contact .wrapper fieldset input[type="submit"]{background:#408bea;color:#fff}.contact .wrapper fieldset
textarea{border:solid 1px #B0BDC5}.loguser
a{background:#000;color:rgba(255, 255, 255, 0.5)}.loguser a:hover{color:#fff}form.update_profile{background:#fff}form.update_profile fieldset input[type="text"], form.update_profile fieldset input[type="password"]{border:solid 1px #DADEE4;color:#222D34}form.update_profile fieldset input[type="text"]:focus, form.update_profile fieldset input[type="password"]:focus{border:solid 1px #00CAF0}form.update_profile fieldset
select{border:solid 1px #DADEE4;color:#222D34}form.update_profile fieldset
textarea{border:solid 1px #DADEE4;color:#222D34}form.update_profile fieldset input[type="submit"]{background:#00CAF0;color:rgba(255, 255, 255, 0.7)}form.update_profile fieldset input[type="submit"]:hover{color:#fff}form.update_profile
.updated{background:#E9FDF5;color:#757575}form.update_profile
.error{background:#F7D5D5;color:#524B4B}form.update_profile
.warning{background:#FFECBE;color:#524B4B}.account{background:#fff}.account
.sidebar{background:#444c63}.account .sidebar ul li
a{color:rgba(255, 255, 255, 0.5)}.account .sidebar ul li
a.active{background:#353d50;color:#fff;border-radius:3px}.sseasons .se-c .se-q span.se-t{background:#F5F7FA!important;color:#222D34!important}.single-page{background:#fff}.single-page
h1.head{border-bottom:solid 1px #ECEFF5;color:#222D34}.mce-panel{border:0
solid #cacaca;border:0
solid rgba(0, 0, 0, 0.2);background-color:#f0f0f0}.sbackdrop
h1{color:#fff;text-shadow:0 1px 5px #000}.pag_episodes{border-bottom:solid 1px #f5f7fa}.pag_episodes
.item{border-right:solid 1px #f5f7fa}.pag_episodes .item
a{color:#8c969c;background:#fdfdfd}.pag_episodes .item a:hover{color:#408bea}.pag_episodes .item a
i{color:#394249}.wp-content h1
span{color:#9aa3b1}.single_menu
ul.main_dt_menu{background:#000;border-bottom:solid 1px #000}.single_menu ul.main_dt_menu li
a{color:#fff}.single_menu ul.main_dt_menu li a:hover{color:#00CAF0}@media only screen and (max-width: 600px){.fondo_dt{background:#fff}}@media only screen and (max-width: 540px){ul.smenu{background:#f8f9fb}ul.smenu li
a{background:#eaebef;color:#90929c}ul.smenu li
a.selected{background:rgba(0, 0, 0, 0.04)}}.dt_user ul.account-menu-main{background:#000;border-top:solid 1px #000}.dt_user ul.account-menu-main li
a{color:#fff}.dt_user ul.account-menu-main li a:hover{background:#272727;color:#00caf0}.ads_demo{border:solid 1px #e9ebef;background:#f5f7fa}#today
a{color:#fff;font-weight:600}.tagcloud a:hover{color:#008fee}.posts
header.pos{border-bottom:solid 1px #f5f7fa}.posts header.pos
h1{color:#222D34}.epiheader{border-bottom:solid 1px #e9ebef}.epiheader .epidata h3
a{color:#222D34}.epiheader .epidata h3 a:hover{color:#575d6f}.epiheader .epidata span.data
b{color:#2b3142}.epiheader .epidata h1
span{color:#9aa3b1}.posts
.meta{border-bottom:solid 5px #f5f7fa}.posts .meta
.autor{color:#222d34}.posts .meta .autor
i{color:#00caf0}.home-blog-post{border-bottom:1px solid #f5f7fa}.home-blog-post .entry-date
.month{color:#9d9fb1}.home-blog-post .entry-title
a{color:#222d34}.top-imdb-list
h3{color:#222d34;background:#eceff5}.top-imdb-item{border-bottom:1px solid #f5f7fa}.top-imdb-item
.puesto{background:#f5f7fa}.top-imdb-item
.rating{color:#222d34}.top-imdb-item .title
a{color:#222d34}.top-imdb-item:hover > .title
a{color:#00caf0}article.post .information
p.descr{color:#a0a9b7}article.post .information .meta
span.autor{color:#00caf0}article.post .information .meta
span.date{color:#c8d3da;font-style:italic}article.post .information
h2{color:#222D34}h1.top-imdb-h1{background:#FFC107}.search .result-item:first-child{border-top:solid 5px #f5f7fa;padding-top:5px}.result-item
article{border-bottom:1px solid #f5f7fa}.result-item article .image .thumbnail
span{color:#fff}.result-item article .details .meta
span.rating{background:#f5de50;color:#000}.result-item article .details .title
a{color:#222d34}.result-item article .details .title a:hover{color:#2f3c44}.result-item article .details .contenido
p{color:#a6aab1}.no-result{color:#222d34}.tax_post
.tax_box{border-bottom:solid 1px #f5f7fa}.tax_post .tax_box
.title{border-right:solid 6px #f5f7fa}.player_sist
.playex{background:#000}.player_sist
.control{background:#2b3142}.player_sist .control nav.player ul.options li ul li:hover > a, .player_sist .control nav.player ul.options li ul li
a.selected{color:#fff;background:#000}.player_sist .control nav.controles ul.list li a:hover{color:#fff}.player_sist .control
span.qualityx{color:#fff;background:#cd2026}a.report-video-dactive{color:#00caf0!important}.report-video-form fieldset
select{border:solid 1px #c4c4c4}.report-video-form fieldset
textarea{border:solid 1px #c5c5c5}.report-video-form fieldset input[type="submit"]{background:#2196F3;color:#fff}.report-video-active{background:#fff;color:#222d34}.confirm_report{background:#4CAF50}.error_report{background:#ff4848}.turnedOff{color:#FFEB3B !important}.home-blog-post .entry-date
.date{color:#00caf0}.head-main-nav ul.main-header li
a{color:rgba(255, 255, 255, 0.7)}.head-main-nav ul.main-header li:hover>a{background:rgba(0, 0, 0, 0.3);color:#fff}.head-main-nav ul.main-header li a
i{background:#FF9800;color:#fff}.head-main-nav ul.main-header li ul.sub-menu{background:rgba(0, 0, 0, 0.85)}.head-main-nav ul.main-header li ul.sub-menu li:hover>a{background:rgba(0, 0, 0, 0.1)}.head-main-nav ul.main-header li.current-menu-item
a{}.search_page_form
form{background:#fdfdfd;border:solid 1px #f5f7fa}.search_page_form form button
span{font-size:20px;color:#bcc2cb}.search_page_form form button:hover>span{color:#222d34}.reports_notice_admin{background:#fff}.reports_notice_admin span
a.delete_notice{background:#8BC34A;color:rgba(255, 255, 255, 0.5)}.reports_notice_admin span a.delete_notice:hover{color:#fff}.reports_notice_admin
span.num{font-size:40px;background:#f00;color:#fff}.person{border-bottom:solid 1px #f8f9fb}.layout3
.sidebar{border-right:0;border-left:solid 1px #2b3142}ul.abc li
a{background:#f5f7fa;color:#222d34}ul.abc li a:hover, ul.abc li
a.select{color:#fff;background:#00CAF0}